@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette,
    tertiary: mat.$green-palette,
  ),
  typography: (
    plain-family: Inter,
    brand-family: Inter,
  ),
  density: (
    scale: 0,
  ),
));

html {
  @include mat.all-component-themes($theme);
}
